@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E0FFFF;
}

h1{
    color: brown;
}

#score {
    display: flex;
    justify-content: center;
    gap: 150px;
    width: 300px;
    margin-top: 50px;
    background-color: blanchedalmond;
    padding: 10px;
    border: solid 2px black;
    font-size: 20px;
}

#scorePlayer{
    display: flex;
    flex-direction: column;
}

#containerButton,
button{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

button,
#rock,
#paper,
#scissors {
    display: flex;
    justify-content: center;
    background-color: pink;
    padding: 20px; 
    width: 100px;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    border: solid 3px rgb(0, 0, 0);
}